:root{
    --primary:#008eea;
    --secundary:#39a0ff;
    --terciaty:#25f4e9;
}
*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*=================================ANIMATIONS==========================================*/
@keyframes goTo{
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(0,10px);
    }
    100%{
        transform: translate(0,0);
    }
}
/*==================================HEADER============================================*/
header{
    width: 97vw;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    position: fixed;
}
.header__title{
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}
.header__image{
    height: 10vh;
    width: 10vw;
}
/*=================================NAVEGATION===========================================*/
nav{
    display: flex;
    align-items: center;
}
.nav__image{
    height: 10vh;
    width: 10vw;
}
.nav__option{
    display: none;
}
.nav__option li a{
    color: #fff;
    text-decoration: none;
}
.nav__option-visible{
    z-index: 100;
    list-style: none;
    font-size: 3rem;
    background-color: var(--secundary);
    height: 90vh;
    width: 97vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2rem;
    left: 0;
}
/*================================INTRODUCTION=========================================*/
.introduction{
    height: 60vh;
    background: url('../images/BackgroundIntroduction.png');
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.introduction h2{
    color: #fff;
    font-size: 3rem;
}
.introduction p{
    height: 20vh;
    width: 70vw;
    color: #fff;
    overflow: auto;
}
.svg-hero{
    position: absolute;
    top: 28rem;
    width: 97vw;
}
/*====================================NORMS=============================================*/
.norms{
    margin: 0 0 2rem 0;
    background:var(--terciaty);
    display: flex;
    flex-direction:column ;
    align-items: center;
    border-radius: 0 0 2rem 2rem;
}
.norms h2{
    color: #fff;
    font-size: 3rem;
}
.norms p{
    color: #fff;
}
.svg-hero-norm{
    transform: rotate(180deg);
    position: absolute;
    top: 20rem;
    width: 97vw;
}
/*===================================TYPES NORMS========================================*/
.type-norms{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,25rem);
    grid-gap: 3rem;
}
.norms-image{
    height: 20vh;
    width: 20vw;
}
.type__iso{
    border: 1px solid #bbb;
    box-shadow: 5px 5px 10px #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .6s;
}
.type__iso:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px var(--terciaty);
}
.type__iso-1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.type__iso-2{
    grid-column: 2/3;
    grid-row: 1/2;
}
.type__iso-3{
    grid-column: 1/2;
    grid-row: 2/3;
}
.type__iso-4{
    grid-column: 2/3;
    grid-row: 2/3;
}
.type__iso-5{
    grid-column: 1/2;
    grid-row: 3/4;
}
.type__iso-6{
    grid-column: 2/3;
    grid-row: 3/4;
}
.type__iso-2500n{
    grid-column: 1/2;
    grid-row: 4/5;
}
.type__iso-2501n{
    grid-column: 2/3;
    grid-row: 4/5;
}
.type__iso-2502n{
    grid-column: 1/2;
    grid-row:5/6;
}
.type__iso-2503n{
    grid-column: 2/3;
    grid-row: 5/6;
}
.type__iso-2504n{
    grid-column: 1/2;
    grid-row:6/7;
}
.type__iso-25099n{
    grid-column: 2/3;
    grid-row: 6/7;
}
/*======================================SPICE==================================*/
.spice{
    margin: 3rem 0 0 0;
    background:url('../images/backgroundSpice.png');
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.spice h2{
    color: var(--primary);
}
.spice p{
    height: 30vh;
    width: 40vw;
    padding: 1rem;
    overflow: auto;
    border: 1px solid #009;
    border-radius: 1rem;
    color: #fff;

}
/*=========================CMMI================================================*/
.cmmi{
    background:linear-gradient(to left,#39a0ff,#25f4e9);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius:0 0 2rem 2rem;
}
.levels__cmmi{
    background-color: red;
    display: flex;
    justify-content: center;
}
.type__cmmi{
    margin: 1rem 0rem;
    border: 1px solid #bbb;
    box-shadow: 5px 5px 10px #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cmmi-logo{
    height: 25vh;
    width: 40vw;
    border: none;
    border-radius: 50%;
}
/*================================QUALITY MODELS==========================================*/
.quality-models{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.models__paragraph{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.models__paragraph p{
    height: 20vh;
    width: 40vw;
    overflow: auto;

}
.models__image{
    height: 20vh;
    width: 15vw;
    animation-name: goTo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/*==================================ASIDE==============================================*/
aside{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:var(--primary);
}
aside .aside__form{
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.aside__form label{
    color: #fff;
}
.form__btn{
    padding: .3rem 1.2rem;
    border: none;
    border-radius:0rem 1rem 0 1rem;
    color: #fff;
    background:linear-gradient(to left,#39a0ff,#25f4e9);
}
/*=======================================FOOTER====================================*/
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer__paragraph{
    font-size: .8rem;
    color: var(--primary);
}
.medias{ 
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.media__image{
    height: 5vh;
    width: 5vw;
}